<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a phone programmer, I enjoy travelling and playing basketball. Ever since I was an infant, my parents have taken me with them all across the world. The most recent trips we've taken together have been my favorite. I've travelled to Saudi Arabia three times with two of them being in consecutive years.</p>
        <p class="mb-0">When I have free time, I play basketball with my friends. My group of friends have been playing basketball with each other since middle school. When I'm not travelling or playing basketball, I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
      </div>
    </section>